####################################################################################################
## General

PORT=3000
PUBLIC_URL="/backend"

####################################################################################################
## Database

DB_CLIENT="pg"
DB_HOST="127.0.0.1"
DB_PORT="5432"
DB_DATABASE="databasename"
DB_USER="postgres"
DB_PASSWORD="password"
DB_SSL="false"